<!-- creer_repas.html -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer Repas</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <script src="/static/script/header.js"></script>
</head>

<body>
    <h1>Créer un repas</h1>
    <form id="creerRepasForm">
        <label for="nomRepas">Nom du repas :</label>
        <input type="text" id="nomrepas" name="nomRepas">
        <button type="submit" onclick="CreerRepas()">Créer le repas</button>
    </form>    
    <script src="/static/script/creerRepas.js"></script>

</body>

</html>